<h1>Listing devicetypes</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @devicetypes.each do |devicetype| %>
      <tr>
        <td><%= devicetype.type %></td>
        <td><%= link_to 'Show', devicetype %></td>
        <td><%= link_to 'Edit', edit_devicetype_path(devicetype) %></td>
        <td><%= link_to 'Destroy', devicetype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Devicetype', new_devicetype_path %>
