<%= form_for @testmodel, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :productid, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :productid, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :devicetype_id, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :devicetype_id, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :manufa, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :manufa, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :functions, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :functions, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  testmodels_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
