<h1>Listing testmodels</h1>

<table>
  <thead>
    <tr>
      <th>Productid</th>
      <th>Devicetype</th>
      <th>Manufa</th>
      <th>Functions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @testmodels.each do |testmodel| %>
      <tr>
        <td><%= testmodel.productid %></td>
        <td><%= testmodel.devicetype_id %></td>
        <td><%= testmodel.manufa %></td>
        <td><%= testmodel.functions %></td>
        <td><%= link_to 'Show', testmodel %></td>
        <td><%= link_to 'Edit', edit_testmodel_path(testmodel) %></td>
        <td><%= link_to 'Destroy', testmodel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Testmodel', new_testmodel_path %>
